DATABASE_URL="postgresql://usuario:senha@localhost:5432/banco"
NEXTAUTH_SECRET="chave-aleatoria"

# Configuração de E-mail (Mailtrap - Email Sending)
MAIL_HOST=live.smtp.mailtrap.io
MAIL_PORT=587
MAIL_USERNAME=api
MAIL_PASSWORD=seu-token-mailtrap-aqui
MAIL_FROM=email-remetente-verificado@dominio.com