DATABASE_URL="postgresql://usuario:senha@localhost:5432/banco"
NEXTAUTH_SECRET="chave-aleatoria"

# Configuração de E-mail (SMTP)
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=seu-email@gmail.com
MAIL_PASSWORD=sua-senha-de-app
MAIL_FROM=seu-email@gmail.com